
	<li>
		<a href="/menus/<%= menu.id.to_s %>" >
			<% if menu.starter %>
			<div> <%= "Starter : " + menu.starter  %> </div>
			<div> <%= "Restaurant ID : " + menu.restaurant_id.to_s  %> </div>
			<div> <%= "created at : " + menu.created_at.to_i.to_s %> </div>
			<div a href="/menus/129"><%= "Link to : " + "/menus/"+menu.id.to_s%> </div>

			<% end %>
			<% if menu.main_course %>
			<div> <%= "Main Course: " + menu.main_course %> </div>
			<% end %>
			<% if menu.desserts %>
			<div> <%= "Desserts: " + menu.desserts %> </div>
			<% end%>
			<% if menu.cuisines %>
			<div> <%= "Type of Cuisine: " + menu.cuisines %> </div>
			<% end%>
		</a>
	</li>	
