<% @rest = Restaurant.find(menu.restaurant_id) %>
	<li>
		<a href="/menus/<%= menu.id.to_s %>" >
			<% if menu.starter %>

			<div> <%= "Starter : " + menu.starter  %> </div>
			<% if menu.main_course %>
			<div> <%= "Main Course: " + menu.main_course %> </div>
			<% end %>
			<% if menu.desserts %>
			<div> <%= "Desserts: " + menu.desserts %> </div>
			<% end%>
			<% if menu.cuisines %>
			<div> <%= "Type of Cuisine: " + menu.cuisines %> </div>
			<% end%>
			<div> <%= "Restaurant Address : " + Restaurant.find(menu.restaurant_id).name  %> </div>
			<div> <%= "Restaurant Address : " + Restaurant.find(menu.restaurant_id).address + " "+@rest.city+" " +@rest.zipcode %> </div>
			<div> <%= "created at : " + menu.created_at.to_s %> </div>
			<% end %>

		</a>
	</li>	
