<% @rest = Restaurant.find(menu.restaurant_id) %>
	<li>
		<a href="/menus/<%= menu.id.to_s %>" >
			<h3>
			<% if menu.starter %>

			<div> <%=  menu.starter + "," + menu.main_course   %> 

			<% if menu.desserts %>
		       <%= menu.desserts %> 
			
			<% end%>
		    <%= "@" + Restaurant.find(menu.restaurant_id).name  %> </div>
			<% if menu.cuisines %>
			</h3>
			<div> <%= "Type of Cuisine: " + menu.cuisines %> </div>
			<% end%>
			
			<div> <%= "Restaurant Address : " + Restaurant.find(menu.restaurant_id).address + " "+@rest.city+" " +@rest.zipcode %> </div>
			<div> <%= "Created at : " + menu.created_at.to_s %> </div>
	 	    Average Menu Rating :	<%= menu.average_rating%>
			<% end %>

		</a>
	</li>	
