<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Display Menu</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Shrikar Archak">
	<!-- Date: 2011-09-20 -->
</head>
<body>
   <div id="menus"  data-id="<%= @menu.id %>" data-time="<%= @menu.created_at.to_i %>">
	<p>
		<b> Starter : <%= @menu.starter %></b><br>
		<b> Id      : <%= @menu.id %></b><br>
		<b> Created_at : <%= @menu.created_at.to_i %></b><br>
	</p>
	<p>
		<b> Main Course : <%= @menu.main_course %> </b><br>
	</p>
	<p>
		<b> Desserts: <%= @menu.desserts %></b><br>
	</p>
	<p>
		<b> Menu id : <%= @menu.id %></b><br>
	</p>
	<p>
		<b> Restaurant id : <%= @menu.restaurant_id %></b><br>
	</p>
	<a href = /menus/<%= @menu.id %>/edit >EDIT </a>
	</div>
</body>
</html>
