<script>
$("button:first").click(function () {
	alert("Whats going on??");
update($("span:first"));
});
$("button:last").click(function () {
$("button:first").trigger('click');
</script>
<div class="container">
	<div class="content">
	<h2>Sign up</h2>

	<input type="radio" name="rdio" value="a" checked="checked" />
	<input type="radio" name="rdio" value="b" />
	<input type="radio" name="rdio" value="c" />

	<br />
	<body>
	  <button>Button #1</button>
	<button>Button #2</button>
	<div><span>0</span> button #1 clicks.</div>

	<div><span>0</span> button #2 clicks.</div>


	<div id="test">Is it working??</div>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <div><%= f.submit "Sign up" %></div>
	<% end %>

	<%= render :partial => "devise/shared/links" %>
	</content>
</div>