
<div class="container">
	<div class="content">
	<h2>Sign up</h2>

	<div id="record_653">
	  <label><input type="radio" name="status_653" value="new" checked/>new</label>
	  <label><input type="radio" name="status_653" value="skipped" />skipped</label>
	  <label><input type="radio" name="status_653" value="downloaded" />downloaded</label>
	</div>


	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <div><%= f.submit "Sign up" %></div>
	<% end %>

	<%= render :partial => "devise/shared/links" %>
	</content>
</div>