<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>index.html</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Shrikar Archak">
	<!-- Date: 2011-09-21 -->
</head>
<body>
  <% @restaurant.each do |rest|%>
  	<p>
  		<b>Name : <%= rest.name %></b> <br>
		<b>Email : <%= rest.email %></b><br>
		<b>Address : <%= rest.address %></b><br>
		<b>Phone_number : <%= rest.phone_number%> </b><br>
		<b>Type : <%= rest.cuisine%> </b><br>
		<b>City : <%= rest.city %> </b><br>
		<b>Zipcode : <%= rest.zipcode%> </b><br>
		<b>State   : <%= rest.state %> </b><br>
		<br> ---------------<br>
  	</p>
  <% end%>
</body>
</html>
