<!DOCTYPE html>
<html>
<head>
  <title>Hopnhog</title>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "bootstrap" %>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= yield %> 

</body>
</html>
